@using EventLogExpert.UI
<div class="mb-1">
    <div class="flex-space-between">
        <div class="flex-space-between">
            <div>@Group.DisplayName</div>

            <button aria-label="Rename @Group.DisplayName" class="button" @onclick="RenameGroup" type="button">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>

        @if (Group.IsEditing)
        {
            <div>
                <button class="button button-green" @onclick="SaveGroup" type="button">
                    <i class="bi bi-check-circle"></i> Save
                </button>

                <button class="button" @onclick="ImportGroup" type="button">
                    <i class="bi bi-download"></i> Import
                </button>

                <button class="button button-red fixed-width" @onclick="CancelGroup" type="button">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>

                <button class="button button-red fixed-width" @onclick="RemoveGroup" type="button">
                    <i class="bi bi-dash-circle"></i> Remove
                </button>
            </div>
        }
        else
        {
            <div>
                <button class="button button-green" @onclick="ApplyFilters" type="button">
                    <i class="bi bi-plus-circle"></i> Apply Filters
                </button>

                <button class="button" @onclick="CopyGroup" type="button">
                    <i class="bi bi-clipboard2-plus"></i> Copy
                </button>

                <button class="button" @onclick="ExportGroup" type="button">
                    <i class="bi bi-upload"></i> Export
                </button>

                <button class="button" @onclick="ToggleGroup" type="button">
                    <i class="bi bi-funnel"></i> Edit
                </button>

                <button class="button button-red" @onclick="RemoveGroup" type="button">
                    <i class="bi bi-dash-circle"></i> Remove
                </button>
            </div>
        }
    </div>

    @foreach (var filter in Group.Filters)
    {
        @if (Group.IsEditing)
        {
            <FilterGroupRow @key="filter.Id"
                OnEditingChanged="OnRowEditingChanged"
                ParentId="Group.Id"
                Value="filter" />
        }
        else
        {
            <div class="flex-align-center">
                <div class="mx-2 color-box" data-highlight="@(filter.Color == HighlightColor.None ? null : filter.Color.ToString().ToLowerInvariant())"></div>

                @if (filter.IsExcluded)
                {
                    <span>Exclude: @filter.ComparisonText</span>
                }
                else
                {
                    <span>@filter.ComparisonText</span>
                }
            </div>
        }
    }

    @if (Group.IsEditing)
    {
        @foreach (var draft in _pendingDrafts)
        {
            <FilterGroupRow @key="draft.Id"
                ParentId="Group.Id"
                PendingDraft="draft"
                OnPendingSave="filter => HandlePendingSave(draft, filter)"
                OnPendingDiscard="() => HandlePendingDiscard(draft)" />
        }

        <button class="button" @onclick="AddFilter" type="button">
            <i class="bi bi-plus-circle"></i> Add Filter
        </button>
    }
</div>
