@using EventLogExpert.Shared.Base
@inherits BaseComponent<bool>

<div aria-label="@AriaLabel" class="toggle" role="radiogroup">
    <input checked="@(!Value)" id="@Id false" name="@Id" @onchange="UpdateValue" type="radio" value="false" />
    <label data-single-color="@IsSingleColor.ToString().ToLower()" for="@Id false">@DisabledString</label>

    <input checked="@(Value)" id="@Id true" name="@Id" @onchange="UpdateValue" type="radio" value="true" />
    <label data-single-color="@IsSingleColor.ToString().ToLower()" for="@Id true">@EnabledString</label>
</div>
