@inherits Base.BaseComponent<bool>

<div class="toggle">
    <input type="radio" id="@Id false" name="@Id" value="false" checked="@(!Value)" @onchange="UpdateValue" />
    <label for="@Id false" data-single-color="@IsSingleColor.ToString().ToLower()">@DisabledString</label>

    <input type="radio" id="@Id true" name="@Id" value="true" checked="@(Value)" @onchange="UpdateValue" />
    <label for="@Id true" data-single-color="@IsSingleColor.ToString().ToLower()">@EnabledString</label>
</div>
