@inject IState<EventLogState> EventLogState

<div class="filter-row">
    @if (Value.IsEditing)
    {
        <div>

            <span>Filter On: </span>
            <select class="input-filter-select" @bind="@Value.FilterType" disabled="@(Value.SubFilters.Count > 0)">
                @foreach (FilterType type in Enum.GetValues(typeof(FilterType)))
                {
                    <option value="@type">@type.ToString()</option>
                }
            </select>

            <span>Comparison: </span>
            <select class="input-filter-select" @bind="@Value.FilterComparison">
                @foreach (FilterComparison type in Enum.GetValues(typeof(FilterComparison)))
                {
                    <option value="@type">@type.ToFullString()</option>
                }
            </select>

            <span>Value: </span>
            @switch (Value.FilterType)
            {
                case FilterType.EventId :
                    <FilterSelect CssClass="input-filter-id" TInput="int"
                        Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue"
                        Items="EventLogState.Value.EventIds.OrderBy(id => id)" />
                    break;
                case FilterType.Level :
                    <FilterSelect CssClass="input-filter-severity" TInput="SeverityLevel"
                        Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue" />
                    break;
                case FilterType.Source :
                    <FilterSelect CssClass="input-filter-dropdown" TInput="string"
                        Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue"
                        Items="EventLogState.Value.EventProviderNames.OrderBy(n => n)" />
                    break;
                case FilterType.Task :
                    <FilterSelect CssClass="input-filter-dropdown" TInput="string"
                        Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue"
                        Items="EventLogState.Value.TaskNames.OrderBy(n => n)" />
                    break;
                case FilterType.Description :
                default :
                    <FilterInput Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue" />
                    break;
            }

        </div>
    }
    else if (string.IsNullOrWhiteSpace(Value.ComparisonString))
    {
        <span>No Filter Specified</span>
    }
    else
    {
        <span>@Value.ComparisonString</span>
    }

    <div class="row-justify-right">
        @if (Value.IsEditing)
        {
            <button class="button-primary" @onclick="AddSubFilter">
                <i class="bi bi-plus-circle"></i> Add Sub Filter
            </button>

            <button class="button-save" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button-remove fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button-primary" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button-remove fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button-save fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
        
    </div>

</div>

<div class="sub-filter-row">
    @if (Value.SubFilters.Any() && Value.IsEditing)
    {
        @foreach (var item in Value.SubFilters)
        {
            <SubFilterRow ParentId="@Value.Id" FilterType="@Value.FilterType" Value="@item" />
        }
    }
</div>
