@inject IState<AvailableFilterState> AvailableFilterPaneState

<div class="subfilter-row">
    <div>

        <span>Join On Comparison: </span>
        <select class="input-filter-select" @bind="@Value.FilterComparison">
            @foreach (FilterComparison type in Enum.GetValues(typeof(FilterComparison)))
            {
                <option value="@type">@type.ToFullString()</option>
            }
        </select>

        <span>Value: </span>
        @switch (FilterType)
        {
            case FilterType.EventId :
                <FilterSelect CssClass="input-filter-id" TInput="int"
                    Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue"
                    Items="AvailableFilterPaneState.Value.EventIdsAll.OrderBy(id => id)" />
                break;
            case FilterType.Level :
                <FilterSelect CssClass="input-filter-severity" TInput="SeverityLevel"
                    Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue" />
                break;
            case FilterType.Source :
                <FilterSelect CssClass="input-filter-dropdown" TInput="string"
                    Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue"
                    Items="AvailableFilterPaneState.Value.EventProviderNamesAll.OrderBy(n => n)" />
                break;
            case FilterType.Task :
                <FilterSelect CssClass="input-filter-dropdown" TInput="string"
                    Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue"
                    Items="AvailableFilterPaneState.Value.TaskNamesAll.OrderBy(n => n)" />
                break;
            case FilterType.Description :
            default :
                <FilterInput Value="@Value.FilterValue" OnValueChangedEvent="@Value.UpdateFilterValue" />
                break;
        }

    </div>

    <button class="button-remove" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
