<div class="subfilter-row">
    <div class="filter-content">
        <span>Join On: </span>
        <select class="input-filter-dropdown" @bind="@Value.FilterType">
            @foreach (FilterType type in Enum.GetValues(typeof(FilterType)))
            {
                <option value="@type">@type.ToString()</option>
            }
        </select>

        <span>Comparison: </span>
        <select class="input-filter-dropdown" @bind="@Value.FilterComparison">
            @foreach (FilterComparison type in Enum.GetValues(typeof(FilterComparison)))
            {
                <option value="@type">@type.ToFullString()</option>
            }
        </select>

        <span>Value: </span>
        @if (Value.FilterType is FilterType.Description)
        {
            <FilterInput @bind-Value="@Value.FilterValue" />
        }
        else
        {
            <FilterSelect @bind-Value="@Value.FilterValue" Type="Value.FilterType" />
        }

    </div>

    <button class="button-remove" @onclick="RemoveSubFilter">
        <i class="bi bi-dash-circle"></i> Remove
    </button>
</div>
