@typeparam T
@inherits Base.BaseComponent<T>

<div class="dropdown-input" @ref="_selectComponent" tabindex="@(IsInput && !IsMultiSelect ? -1 : 0)"
    @onkeydown="HandleKeyDown" @onblur="CloseDropDown">
    @if (IsInput && !IsMultiSelect)
    {
        <input type="text" class="@CssClass" value="@DisplayString" tabindex="0"
            @oninput="OnInputChange" @onclick="ToggleDropDownVisibility" />
    }
    else
    {
        <span class="@CssClass" @onclick="ToggleDropDownVisibility">
            @DisplayString
        </span>
    }

    <div class="dropdown-list" data-toggle="@IsDropDownVisible" @onfocusout="CloseDropDown">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
