@typeparam T

<div aria-disabled="@(IsDisabled ? "true" : null)" aria-selected="@IsSelected.ToString().ToLower()" class="@CssClass"
    highlighted="@(IsHighlighted ? "" : null)"
    id="@ItemId" @onmousedown="SelectItem" @onmouseenter="HighlightItem" role="option">

    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @DisplayString
    }
</div>
