@inherits ModalBase<string>

<ModalChrome AcceptLabel="OK"
    AriaLabel="@AriaLabelText"
    CancelLabel="Cancel"
    Footer="FooterPreset.AcceptCancel"
    InlineAlert="@CurrentInlineAlert"
    OnAccept="HandleAcceptClickedAsync"
    OnCancel="OnCancelAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    OnInlineAlertResolved="HandleInlineAlertResolvedAsync"
    Title="@Title"
    @ref="ChromeRef">
    <ChildContent>
        <p class="alert-modal-message" id="@_messageId">@Message</p>
        <input aria-labelledby="@_messageId"
            @bind="_value"
            @bind:event="oninput"
            class="alert-modal-input"
            @ref="_inputRef"
            type="text" />
    </ChildContent>
</ModalChrome>
