@inherits ModalBase<string>

<ModalChrome AcceptLabel="OK"
    AriaLabel="@AriaLabelText"
    CancelLabel="Cancel"
    Footer="FooterPreset.AcceptCancel"
    InlineAlert="@CurrentInlineAlert"
    MaxWidth="min(34rem, calc(100vw - 2rem))"
    MinWidth="min(34rem, calc(100vw - 2rem))"
    OnAccept="HandleAcceptClickedAsync"
    OnCancel="OnCancelAsync"
    OnDialogClosedByUser="HandleDialogClosedByUserAsync"
    OnInlineAlertResolved="HandleInlineAlertResolvedAsync"
    @ref="ChromeRef"
    Title="@Title">
    <ChildContent>
        <label class="prompt-modal-label" for="@_inputId">@Message</label>
        <TextInput CssClass="input dialog-input"
            Id="@_inputId"
            @ref="_input"
            UpdateOnInput="true"
            Value="@_value"
            ValueChanged="HandleValueChanged" />
    </ChildContent>
</ModalChrome>
