@using EventLogExpert.Eventing.Common.Channels
@inherits FluxorComponent

@{
    var eventLog = EventLogSelection.Value;
    var rawCount = RawCountSelection.Value;
    var logTable = LogTableSelection.Value;
    var statusBar = StatusBarSelection.Value;
}

<div aria-atomic="true" aria-live="polite" class="status-bar" role="status">
    @foreach (var loadingProgress in statusBar.EventsLoading)
    {
        <span>Loading: @loadingProgress.Value.Item1</span>

        @if (loadingProgress.Value.Item2 > 0)
        {
            <span>Failed: @loadingProgress.Value.Item2</span>
        }
    }

    <span>Events Loaded: @rawCount.Total</span>

    @if (logTable.ActiveEventLogId is not null && eventLog.AppliedFilter.IsFilteringEnabled)
    {
        var activeTable = logTable.EventTables.FirstOrDefault(table => table.Id == logTable.ActiveEventLogId);

        if (activeTable is null) { return; }

        var totalEvents = TotalRawCount(activeTable, logTable.Groups, rawCount);

        var filteredEvents = activeTable.IsCombined ?
            logTable.ActiveFilteredView.Count :
            logTable.EventCountByLog.GetValueOrDefault(activeTable.Id, 0);

        <span>Visible: @(filteredEvents) Hidden by filter: @(totalEvents - filteredEvents)</span>
    }

    @if (logTable.EventTables.Any(table => table.LogPathType == LogPathType.Channel))
    {
        @if (eventLog.ContinuouslyUpdate)
        {
            <span>Continuously Updating</span>
        }
        else
        {
            <span>New Events: @eventLog.NewEventBuffer.Count</span>

            @if (eventLog.NewEventBufferIsFull)
            {
                <span>Buffer Full</span>
            }
        }
    }

    @if (!string.IsNullOrEmpty(statusBar.ResolverStatus))
    {
        <span>@statusBar.ResolverStatus</span>
    }
</div>
