@using EventLogExpert.UI

<ValueSelect AriaLabel="@(CategoryAriaLabelledBy is null ? "Category" : null)" AriaLabelledBy="@CategoryAriaLabelledBy" CssClass="input filter-dropdown" T="FilterCategory" @bind-Value="CategoryBinding" ToStringFunc="x => x.ToFullString()">
    @foreach (FilterCategory item in Enum.GetValues(typeof(FilterCategory)))
    {
        <ValueSelectItem T="FilterCategory" Value="item" />
    }
</ValueSelect>

<label aria-label="Comparison" id="@($"{Id}_Comparison")">Comparison: </label>
<ValueSelect AriaLabelledBy="@($"{Id}_Comparison")" CssClass="input filter-dropdown" T="FilterEvaluator" @bind-Value="Data.Evaluator" ToStringFunc="x => x.ToFullString()">
    @foreach (FilterEvaluator item in Enum.GetValues(typeof(FilterEvaluator)))
    {
        @if (IsTextOnlyCategory(Data.Category) && item == FilterEvaluator.MultiSelect)
        {
            continue;
        }
        <ValueSelectItem T="FilterEvaluator" Value="item" />
    }
</ValueSelect>

<label aria-label="Value" id="@($"{Id}_Value")">Value: </label>
@if (IsTextOnlyCategory(Data.Category))
{
    <TextInput CssClass="input filter-description" @bind-Value="@Data.Value" />
}
else if (Data.Evaluator == FilterEvaluator.MultiSelect)
{
    <ValueSelect AriaLabelledBy="@($"{Id}_Value")" CssClass="input filter-multiselect-dropdown" T="string" @bind-Values="Data.Values" IsMultiSelect
        ToStringFunc="@(x => string.IsNullOrWhiteSpace(x) ? "All" : x)">
        <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
        @foreach (var item in Items)
        {
            <ValueSelectItem T="string" Value="item" />
        }
    </ValueSelect>
}
else
{
    <ValueSelect AriaLabelledBy="@($"{Id}_Value")" CssClass="input filter-value-dropdown" T="string" @bind-Value="Data.Value" IsInput>
        <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
        @foreach (var item in FilteredItems)
        {
            <ValueSelectItem T="string" Value="item" />
        }
    </ValueSelect>
}
