<div>
    <div aria-label="@(_menuState ? "Group Expanded" : "Group Collapsed")" class="flex-space-between my-1"
        @onclick="ToggleMenu" @onkeydown="HandleKeyDown" tabindex="0">
        <span>@Name</span>

        <span class="menu-toggle" data-rotate="@MenuState">
            <i class="bi bi-caret-up"></i>
        </span>
    </div>

    <div class="indent" hidden="@(!_menuState)">
        @foreach ((string name, FilterGroupNode node) in Node.ChildNodes.OrderBy(x => x.Key))
        {
            <FilterGroupSection Name="@name" Node="node" Parent="Parent" />
        }

        <div class="flex-column-scroll">
            @foreach (var group in Node.Groups.OrderBy(x => x.Name))
            {
                <FilterGroup Group="group" Parent="Parent" />
            }
        </div>
    </div>
</div>
