@inherits FluxorComponent

<div class="details-pane" data-toggle="@IsVisible" hidden="@(_selectedEvent is null)">
    <div class="details-resizer"></div>

    <div aria-expanded="@_isVisible.ToString().ToLower()"
        aria-label="@(_isVisible ? "Details Expanded" : "Details Collapsed")"
        class="flex-space-between"
        id="details-header"
        @onclick="ToggleMenu"
        @onkeydown="HandleKeyDown"
        role="button"
        tabindex="0">
        <div>Details</div>

        <span class="menu-toggle" data-rotate="@IsVisible">
            <i class="bi bi-caret-up"></i>
        </span>
    </div>

    @if (_selectedEvent is not null)
    {
        <div class="details-group" data-toggle="@_isXmlVisible.ToString().ToLower()">
            <div class="d-flex flex-row">
                <div>Log Name: @_selectedEvent.LogName</div>
                <div>Source: @_selectedEvent.Source</div>
                <div>Event Id: @_selectedEvent.Id</div>
                <div>Level: @_selectedEvent.Level</div>
                @if (_selectedEvent.Keywords.Any())
                {
                    <div>Keywords: @_selectedEvent.KeywordsDisplayName</div>
                }
                <div>Date and Time: @_selectedEvent.TimeCreated.ConvertTimeZone(Settings.TimeZoneInfo)</div>
            </div>

            <div>Description:</div>
            <p class="details-description">@_selectedEvent.Description</p>
        </div>

        <hr />

        <div aria-expanded="@_isXmlVisible.ToString().ToLower()"
            aria-label="@(_isXmlVisible ? "XML Expanded" : "XML Collapsed")"
            class="details-row-xml"
            @onclick="ToggleXml"
            @onkeydown="HandleKeyDownXml"
            role="button"
            tabindex="0">
            <div>XML</div>
            <span class="menu-toggle justify-self-right" data-rotate="@_isXmlVisible.ToString().ToLower()">
                <i class="bi bi-caret-up"></i>
            </span>
        </div>

        <p class="details-xml" data-toggle="@_isXmlVisible.ToString().ToLower()">
            @if (_resolvedXml is null)
            {
                <text>Resolving XML...</text>
            }
            else if (_resolvedXml.Length > 0)
            {
                @GetXmlForDisplay()
            }
            else
            {
                <text>No XML available for this event.</text>
            }
        </p>
    }
</div>
