@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<SettingsState> SettingsState

@if (Event is not null)
{
    <div class="details-pane" data-toggle="@_expandMenu.ToString().ToLower()">

        <div class="details-header">
            <div>Details</div>
            <span class="button-toggle" data-rotate="@_expandMenu.ToString().ToLower()" @onclick="ToggleMenu">
                <i class="bi bi-caret-up"></i>
            </span>
        </div>

        <div class="details-group" data-toggle="@_expandXml.ToString().ToLower()">
            <div class="details-row">
                <div>Source: @Event.Source</div>
                <div>Event Id: @Event.Id</div>
                <div>Level: @Event.Level</div>
                @if (Event.KeywordsDisplayNames.Any())
                {
                    <div>
                        @GetEventKeywords(Event.KeywordsDisplayNames)
                    </div>
                }
                <div>Date and Time: @Event.TimeCreated.ConvertTimeZone(SettingsState.Value.Config.TimeZoneInfo)</div>
            </div>

            <div>Description:</div>
            <p class="details-description">@Event.Description</p>
        </div>

        <div class="details-row-xml" @onclick="ToggleXml">
            <div>XML:</div>
            <div class="header-center">
                <button class="button-primary" @onclick="CopyEvent">Copy Event</button>
            </div>
            <span class="button-toggle header-justify-right" data-rotate="@_expandXml.ToString().ToLower()">
                <i class="bi bi-caret-up"></i>
            </span>
        </div>

        <p class="details-xml" data-toggle="@_expandXml.ToString().ToLower()">@Event.Xml</p>

    </div>
}
