@inherits FluxorComponent

@inject IState<EventLogState> EventLogState

<div class="table-container">
    <table @ref="@_tableRef">
        <thead>
            <tr>
                <th style="@GetInlineStyle("RecordId")">Rec</th>
                <th style="@GetInlineStyle("TimeCreated")">Time</th>
                <th style="@GetInlineStyle("Id")x">Id</th>
                <th style="@GetInlineStyle("MachineName")">Machine</th>
                <th style="@GetInlineStyle("Level")">Level</th>
                <th style="@GetInlineStyle("ProviderName")">Source</th>
                <th style="@GetInlineStyle("Task")">Task</th>
                <th style="@GetDescriptionStyle()">Description</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@EventLogState.Value.EventsToDisplay" Context="evt">
                <tr>
                    <td style="@GetInlineStyle("RecordId")">@evt.RecordId</td>
                    <td style="@GetInlineStyle("TimeCreated")">@evt.TimeCreated</td>
                    <td style="@GetInlineStyle("Id")">@evt.Id</td>
                    <td style="@GetInlineStyle("MachineName")">@evt.MachineName</td>
                    <td style="@GetInlineStyle("Level")">@evt.Level</td>
                    <td style="@GetInlineStyle("ProviderName")">@evt.ProviderName</td>
                    <td style="@GetInlineStyle("Task")">@evt.TaskDisplayName</td>
                    <td style="@GetDescriptionStyle()">@evt.Description</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>
