@inherits FluxorComponent

@inject IState<EventLogState> EventLogState

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th nowrap width="@(_colWidths["RecordId"])px">Rec</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["TimeCreated"])px">Time</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["Id"])px">Id</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["MachineName"])px">Machine</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["Level"])px">Level</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["ProviderName"])px">Source</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["Task"])px">Task</th>
            <th class="table-divider"></th>
            <th nowrap width="@(_colWidths["Description"])px">Description</th>
        </tr>
        </thead>
        <tbody>
        <Virtualize Items="@EventLogState.Value.EventsToDisplay" Context="evt">
            <tr>
                <td nowrap>@evt.RecordId</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.TimeCreated</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.Id</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.MachineName</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.LevelDisplayName</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.ProviderName</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.TaskDisplayName</td>
                <th class="table-divider"></th>
                <td nowrap>@evt.Description</td>
            </tr>
        </Virtualize>
        </tbody>
    </table>
</div>