@using EventLogExpert.UI
@inherits FluxorComponent

<SplitLogTabPane />

<div class="table-container">
    <table aria-label="Event Log Table" id="eventTable" @onkeydown="HandleKeyDown" role="grid">
        <thead @oncontextmenu="InvokeTableColumnMenu">
        <tr role="row">
            @for (int columnIndex = 0; columnIndex < _enabledColumns.Length; columnIndex++)
            {
                var columnHeader = _enabledColumns[columnIndex];
                _headerName = columnHeader.ToFullString();

                <th aria-colindex="@(columnIndex + 1)" aria-sort="@(_eventTableState.OrderBy == columnHeader ? (_eventTableState.IsDescending ? "descending" : "ascending") : "none")"
                    class="@columnHeader.ToString().ToLower()" role="columnheader">
                    @if (columnHeader == ColumnName.DateAndTime)
                    {
                        <text>@GetDateColumnHeader()</text>
                    }
                    else
                    {
                        @_headerName
                    }
                    @if (_eventTableState.OrderBy == columnHeader)
                    {
                        <span class="menu-toggle" data-rotate="@_eventTableState.IsDescending.ToString().ToLower()" @onclick="ToggleSorting">
                            <i class="bi bi-caret-up"></i>
                        </span>
                    }
                </th>
            }

            <th aria-colindex="@(_enabledColumns.Length + 1)" class="description" role="columnheader">Description</th>
        </tr>
        </thead>
        <tbody @oncontextmenu="InvokeContextMenu">
        @if (_currentTable is not null)
        {
            <Virtualize Context="evt" Items="_currentTable.DisplayedEvents">
                @{ _rowIndex = _currentTable.DisplayedEvents.IndexOf(evt); }
                    <tr aria-rowindex="@(_rowIndex + 2)" aria-selected="@(_selectedEventState.Contains(evt).ToString().ToLower())"
                        class="@GetCss(evt)" @key="@($"{evt.OwningLog}_{evt.RecordId}")" @onmousedown="args => SelectEvent(args, evt)" role="row" tabindex="0">
                    @for (int i = 0; i < _enabledColumns.Length; i++)
                    {
                        <td aria-colindex="@(i + 1)" role="gridcell">
                            @switch (_enabledColumns[i])
                            {
                                case ColumnName.Level:
                                    <text><span class="@GetLevelClass(evt.Level)"></span> @evt.Level</text>
                                    break;
                                case ColumnName.DateAndTime:
                                    @evt.TimeCreated.ConvertTimeZone(_timeZoneSettings)
                                    break;
                                case ColumnName.ActivityId:
                                    @evt.ActivityId
                                    break;
                                case ColumnName.Log:
                                    @evt.OwningLog.Split("\\").Last()
                                    break;
                                case ColumnName.ComputerName:
                                    @evt.ComputerName
                                    break;
                                case ColumnName.Source:
                                    @evt.Source
                                    break;
                                case ColumnName.EventId:
                                    @evt.Id
                                    break;
                                case ColumnName.TaskCategory:
                                    @evt.TaskCategory
                                    break;
                                case ColumnName.Keywords:
                                    <text>@string.Join(", ", evt.KeywordsDisplayNames)</text>
                                    break;
                                case ColumnName.ProcessId:
                                    @evt.ProcessId
                                    break;
                                case ColumnName.ThreadId:
                                    @evt.ThreadId
                                    break;
                                case ColumnName.User:
                                    @evt.UserId
                                    break;
                            }
                        </td>
                    }

                    <td aria-colindex="@(_enabledColumns.Length + 1)" role="gridcell">@evt.Description</td>
                </tr>
            </Virtualize>
        }
        </tbody>
    </table>
</div>
