@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<FilterPaneState> FilterPaneState
@inject IState<SettingsState> SettingsState

<div class="table-container">
    <table id="eventTable">
        <thead>
            <tr>
                <th id="level">Level</th>
                <th id="time">Date and Time</th>
                <th id="source">Source</th>
                <th id="id">Event ID</th>
                <th id="task">Task Category</th>
                <th id="description">Description</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@GetFilteredEvents()" Context="evt" @ref="virtualizeComponent">
                <tr class="@GetCss(evt)" @key="evt.RecordId" @onfocus="() => SelectEvent(evt)" tabindex="0">
                    <td>@evt.Level</td>
                    <td>@evt.TimeCreated?.ConvertTimeZone(SettingsState.Value.TimeZone)</td>
                    <td>@evt.Source</td>
                    <td>@evt.Id</td>
                    <td>@evt.TaskCategory</td>
                    <td>@evt.Description</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>
