@using EventLogExpert.Services;
@using EventLogExpert.UI.Store.EventLog;
@using EventLogExpert.UI.Store.FilterPane;
@using EventLogExpert.UI.Store.Settings;
@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<FilterPaneState> FilterPaneState
@inject IState<SettingsState> SettingsState

<SplitLogTabPane @bind-ActiveLog="@_activeLog" />

<div class="table-container" hidden="@(_activeLog != null)">
    <table>
        <thead>
            <tr>
                <th class="level">Level</th>
                <th class="time">
                    Date and Time
                    <span class="menu-toggle" data-rotate="@EventLogState.Value.SortDescending.ToString().ToLower()" @onclick="ToggleDateTime">
                        <i class="bi bi-caret-up"></i>
                    </span>
                </th>
                <th class="logname" hidden="@(!SettingsState.Value.ShowLogName)">Log Name</th>
                <th class="computername" hidden="@(!SettingsState.Value.ShowComputerName)">Computer</th>
                <th class="source">Source</th>
                <th class="id">Event ID</th>
                <th class="task">Task Category</th>
                <th class="description">Description</th>
            </tr>
        </thead>
        <tbody @oncontextmenu="InvokeContextMenu">
            <Virtualize Items="EventLogState.Value.CombinedEvents" Context="evt">
                <tr class="@GetCss(evt)" @key="evt.RecordId" @onfocus="() => SelectEvent(evt)" tabindex="0">
                    <td>
                        <span class="@GetLevelClass(evt.Level)"></span>
                        @evt.Level
                    </td>
                    <td>@evt.TimeCreated.ConvertTimeZone(SettingsState.Value.Config.TimeZoneInfo)</td>
                    <td hidden="@(!SettingsState.Value.ShowLogName)">@evt.OwningLog.Split("\\").Last()</td>
                    <td hidden="@(!SettingsState.Value.ShowComputerName)">@evt.ComputerName</td>
                    <td>@evt.Source</td>
                    <td>@evt.Id</td>
                    <td>@evt.TaskCategory</td>
                    <td>@evt.Description</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>

@if (ActiveLogState.Value.Count > 1)
{
    @foreach (var log in ActiveLogState.Value)
    {
        <div class="table-container" hidden="@(_activeLog != log.Key)">
            <table>
                <thead>
                    <tr>
                        <th class="level">Level</th>
                        <th class="time">
                            Date and Time
                            <span class="button-toggle" data-rotate="@EventLogState.Value.SortDescending.ToString().ToLower()" @onclick="ToggleDateTime">
                                <i class="bi bi-caret-up"></i>
                            </span>
                        </th>
                        <th class="logname" hidden="@(!SettingsState.Value.ShowLogName)">Log Name</th>
                        <th class="computername" hidden="@(!SettingsState.Value.ShowComputerName)">Computer</th>
                        <th class="source">Source</th>
                        <th class="id">Event ID</th>
                        <th class="task">Task Category</th>
                        <th class="description">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="log.Value.FilteredEvents" Context="evt">
                        <tr class="@GetCss(evt)" @key="evt.RecordId" @onfocus="() => SelectEvent(evt)" tabindex="0">
                            <td>
                                <span class="@GetLevelClass(evt.Level)"></span>
                                @evt.Level
                            </td>
                            <td>@evt.TimeCreated.ConvertTimeZone(SettingsState.Value.Config.TimeZoneInfo)</td>
                            <td hidden="@(!SettingsState.Value.ShowLogName)">@evt.OwningLog</td>
                            <td hidden="@(!SettingsState.Value.ShowComputerName)">@evt.ComputerName</td>
                            <td>@evt.Source</td>
                            <td>@evt.Id</td>
                            <td>@evt.TaskCategory</td>
                            <td>@evt.Description</td>
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>
    }
}
