@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<FilterPaneState> FilterPaneState
@inject IState<SettingsState> SettingsState

<div class="table-container" @onclick="HideContextMenu">
    <table id="eventTable">
        <thead>
            <tr>
                <th id="level">Level</th>
                <th id="time">
                    Date and Time
                    <span class="button-toggle" data-rotate="@IsDateTimeDescending" @onclick="ToggleDateTime">
                        <i class="bi bi-caret-up"></i>
                    </span>
                </th>
                <th id="logname" hidden="@(!SettingsState.Value.ShowLogName)">Log Name</th>
                <th id="computername" hidden="@(!SettingsState.Value.ShowComputerName)">Computer</th>
                <th id="source">Source</th>
                <th id="id">Event ID</th>
                <th id="task">Task Category</th>
                <th id="description">Description</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@GetFilteredEvents()" Context="evt">
                <tr class="@GetCss(evt)" @key="evt.RecordId" @onfocus="() => SelectEvent(evt)" tabindex="0">
                    <td>@evt.Level</td>
                    <td>@evt.TimeCreated.ConvertTimeZone(SettingsState.Value.TimeZone)</td>
                    <td hidden="@(!SettingsState.Value.ShowLogName)">@evt.OwningLog</td>
                    <td hidden="@(!SettingsState.Value.ShowComputerName)">@evt.ComputerName</td>
                    <td>@evt.Source</td>
                    <td @oncontextmenu="@(e => ShowIdContextMenu(e, evt.Id))">@evt.Id</td>
                    <td>@evt.TaskCategory</td>
                    <td>@evt.Description</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
    <ul id="context-menu" class="dropdown-menu dropdown-menu-dark" role="menu" style="@GetContextMenuStyle()">
        <li><a class="dropdown-item" href="#">Show Id @(_contextMenuId) Only</a></li>
        <li><a class="dropdown-item" href="#">Exclude Id @(_contextMenuId)</a></li>
    </ul>
</div>
