@using EventLogExpert.UI
@inherits FluxorComponent

<SplitLogTabPane />

<div class="table-container">
    <table id="eventTable" @onkeydown="HandleKeyDown" role="grid">
        <thead @oncontextmenu="InvokeTableColumnMenu">
        <tr role="row">
            @foreach (ColumnName column in _enabledColumns)
            {
                <th class="@column.ToString().ToLower()" role="columnheader">
                    @if (column == ColumnName.DateAndTime)
                    {
                        <text>@GetDateColumnHeader()</text>
                    }
                    else
                    {
                        @column.ToFullString()
                    }
                    @if (_eventTableState.OrderBy == column)
                    {
                        <span class="menu-toggle" data-rotate="@_eventTableState.IsDescending.ToString().ToLower()" @onclick="ToggleSorting">
                            <i class="bi bi-caret-up"></i>
                        </span>
                    }
                </th>
            }

            <th class="description">Description</th>
        </tr>
        </thead>
        <tbody @oncontextmenu="InvokeContextMenu">
        @if (_currentTable is not null)
        {
            <Virtualize Context="evt" Items="_currentTable.DisplayedEvents">
                @{ _rowIndex = _currentTable.DisplayedEvents.IndexOf(evt); }
                <tr class="@GetCss(evt)" @key="@($"{evt.OwningLog}_{evt.RecordId}")" @onmousedown="args => SelectEvent(args, evt)" role="row" tabindex="0">
                    @for (int i = 0; i < _enabledColumns.Length; i++)
                    {
                        <td aria-label="Row @(_rowIndex), Column @(i + 1)" role="gridcell">
                            @switch (_enabledColumns[i])
                            {
                                case ColumnName.Level:
                                    <text><span class="@GetLevelClass(evt.Level)"></span> @evt.Level</text>
                                    break;
                                case ColumnName.DateAndTime:
                                    @evt.TimeCreated.ConvertTimeZone(_timeZoneSettings)
                                    break;
                                case ColumnName.ActivityId:
                                    @evt.ActivityId
                                    break;
                                case ColumnName.Log:
                                    @evt.OwningLog.Split("\\").Last()
                                    break;
                                case ColumnName.ComputerName:
                                    @evt.ComputerName
                                    break;
                                case ColumnName.Source:
                                    @evt.Source
                                    break;
                                case ColumnName.EventId:
                                    @evt.Id
                                    break;
                                case ColumnName.TaskCategory:
                                    @evt.TaskCategory
                                    break;
                                case ColumnName.Keywords:
                                    <text>@string.Join(", ", evt.KeywordsDisplayNames)</text>
                                    break;
                                case ColumnName.ProcessId:
                                    @evt.ProcessId
                                    break;
                                case ColumnName.ThreadId:
                                    @evt.ThreadId
                                    break;
                                case ColumnName.User:
                                    @evt.UserId
                                    break;
                            }
                        </td>
                    }

                    <td aria-label="Row @(_rowIndex), Column @(_enabledColumns.Length + 1)" role="gridcell">@evt.Description</td>
                </tr>
            </Virtualize>
        }
        </tbody>
    </table>
</div>
