@using EventLogExpert.UI
@inherits FluxorComponent

<SplitLogTabPane />

<div class="table-container">
    <table id="eventTable" @onkeyup="HandleKeyUp">
        <thead @oncontextmenu="InvokeTableColumnMenu">
        <tr>
            @foreach ((ColumnName column, bool _) in EventTableState.Value.Columns.Where(column => column.Value))
            {
                <th class="@column.ToString().ToLower()">
                    @if (column == ColumnName.DateAndTime)
                    {
                        <text>@GetDateColumnHeader()</text>
                    }
                    else
                    {
                        @column.ToFullString()
                    }
                    @if (EventTableState.Value.OrderBy == column)
                    {
                        <span class="menu-toggle" data-rotate="@EventTableState.Value.IsDescending.ToString().ToLower()" @onclick="ToggleSorting">
                            <i class="bi bi-caret-up"></i>
                        </span>
                    }
                </th>
            }

            <th class="description">Description</th>
        </tr>
        </thead>
        <tbody @oncontextmenu="InvokeContextMenu">
        @if (EventTableState.Value.ActiveEventLogId is not null)
        {
            <Virtualize Items="EventTableState.Value.EventTables.First(x => x.Id == EventTableState.Value.ActiveEventLogId).DisplayedEvents" Context="evt">
                <tr @key="@($"{evt.OwningLog}_{evt.RecordId}")" class="@GetCss(evt)" @onfocus="() => SelectEvent(evt)" tabindex="0">
                    @foreach ((ColumnName column, bool _) in EventTableState.Value.Columns.Where(column => column.Value))
                    {
                        <td>
                            @switch (column)
                            {
                                case ColumnName.Level:
                                    <text><span class="@GetLevelClass(evt.Level)"></span> @evt.Level</text>
                                    break;
                                case ColumnName.DateAndTime:
                                    @evt.TimeCreated.ConvertTimeZone(TimeZoneSettings.Value)
                                    break;
                                case ColumnName.ActivityId:
                                    @evt.ActivityId
                                    break;
                                case ColumnName.Log:
                                    @evt.OwningLog.Split("\\").Last()
                                    break;
                                case ColumnName.ComputerName:
                                    @evt.ComputerName
                                    break;
                                case ColumnName.Source:
                                    @evt.Source
                                    break;
                                case ColumnName.EventId:
                                    @evt.Id
                                    break;
                                case ColumnName.TaskCategory:
                                    @evt.TaskCategory
                                    break;
                                case ColumnName.Keywords:
                                    <text>@string.Join(", ", evt.KeywordsDisplayNames)</text>
                                    break;
                                case ColumnName.ProcessId:
                                    @evt.ProcessId
                                    break;
                                case ColumnName.ThreadId:
                                    @evt.ThreadId
                                    break;
                                case ColumnName.User:
                                    @evt.UserId
                                    break;
                            }
                        </td>
                    }

                    <td>@evt.Description</td>
                </tr>
            </Virtualize>
        }
        </tbody>
    </table>
</div>
