@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<SettingsState> SettingsState

<div class="table-container">
    <table @ref="@_tableRef">
        <thead>
            <tr>
                <th style="@GetInlineStyle("RecordId")">Rec</th>
                <th style="@GetInlineStyle("TimeCreated")">Time</th>
                <th style="@GetInlineStyle("Id")">Id</th>
                <th style="@GetInlineStyle("MachineName")">Machine</th>
                <th style="@GetInlineStyle("Level")">Level</th>
                <th style="@GetInlineStyle("ProviderName")">Source</th>
                <th style="@GetInlineStyle("Task")">Task</th>
                <th style="width: 100%">Description</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@EventLogState.Value.EventsToDisplay" Context="evt">
                <tr class="table-row" @onclick="@(() => SelectEvent(evt))">
                    <td>@evt.RecordId</td>
                    <td>@evt.TimeCreated?.ConvertTimeZone(SettingsState.Value.TimeZone)</td>
                    <td>@evt.Id</td>
                    <td>@evt.MachineName</td>
                    <td>@evt.Level</td>
                    <td>@evt.ProviderName</td>
                    <td>@evt.TaskDisplayName</td>
                    <td>@evt.Description</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>
