@inherits FluxorComponent
@inject IState<FilterPaneState> FilterPaneState
@inject IDispatcher Dispatcher

<div class="filter-pane">

    <EditForm Model="_filter" OnSubmit="ApplyFilter">
        <span>Event ID: </span>
        <InputSelect @bind-Value="_filter.Id">
            <option value="-1">None</option>
            @foreach (var id in FilterPaneState.Value.EventIdsAll.OrderBy(id => id))
            {
                <option value="@id">@id</option>
            }
        </InputSelect>

        <span>Severity: </span>
        <InputSelect @bind-Value="_filter.Level">
            <option value="">All</option>
            @foreach (SeverityLevel? level in Enum.GetValues(typeof(SeverityLevel)))
            {
                <option value="@level">@level.ToString()</option>
            }
        </InputSelect>

        <span>Description: </span>
        <InputText @bind-Value="_filter.Description" />

        <button type="submit">Apply</button>
        <button @onclick="ResetFilter">Clear</button>

        <span>Last Filter: </span>
        <span>@(FilterPaneState.Value.RecentFilters.FirstOrDefault())</span>
    </EditForm>

</div>