@inherits FluxorComponent

<div id="tab-pane" hidden="@(EventTableState.Value.EventTables.Count <= 1)">
    <div class="tab-row">
        @foreach (var table in _sortedTabs)
        {
            <div class="@GetActiveTab(table)" title="@GetTabTooltip(table)">
                <span @onmousedown="() => SetActiveLog(table)" disabled="@table.IsLoading">
                    @if (table.IsLoading)
                    {
                        <i class="spinner-border" role="status"></i>
                        @:&nbsp;
                    }
                    @GetTabName(table)
                </span>

                @if (!table.IsCombined)
                {
                    <i class="bi bi-x" @onmousedown="() => CloseLog(table)"></i>
                }
            </div>
        }
    </div>
</div>
