@inherits FluxorComponent

<div id="tab-pane" hidden="@(EventTableState.Value.EventTables.Count <= 1)">
    <div class="tab-row">
        @foreach (var table in _sortedTabs)
        {
            <div class="@GetActiveTab(table)" title="@GetTabTooltip(table)" @onclick="() => SetActiveLog(table)" disabled="@table.IsLoading">
                <span>
                    @if (table.IsLoading)
                    {
                        <i class="spinner-border" role="status"></i>
                        @:&nbsp;
                    }
                    @GetTabName(table)
                </span>
            </div>
        }
    </div>
</div>
