@using EventLogExpert.UI
@inherits FluxorComponent

<div class="status-bar">
    @foreach (var loadingProgress in _statusBarState.EventsLoading)
    {
        <span>Loading: @loadingProgress.Value.Item1</span>

        @if (loadingProgress.Value.Item2 > 0)
        {
            <span>Failed: @loadingProgress.Value.Item2</span>
        }
    }

    <span>Events Loaded: @_eventLogState.ActiveLogs.Values.Sum(log => log.Events.Count)</span>

    @if (_eventTableState.ActiveEventLogId is not null && FilterMethods.IsFilteringEnabled(_eventLogState.AppliedFilter))
    {
        var activeTable = _eventTableState.EventTables.FirstOrDefault(table => table.Id == _eventTableState.ActiveEventLogId);

        if (activeTable is null) { return; }

        var totalEvents = activeTable.IsCombined ?
            _eventLogState.ActiveLogs.Sum(l => l.Value.Events.Count) :
            _eventLogState.ActiveLogs[activeTable.LogName].Events.Count;

        var filteredEvents = activeTable.DisplayedEvents.Count;

        <span>Visible: @(filteredEvents) Hidden by filter: @(totalEvents - filteredEvents)</span>
    }

    @if (_eventLogState.ActiveLogs.Values.Any(l => l.Type == PathType.LogName))
    {
        @if (_eventLogState.ContinuouslyUpdate)
        {
            <span>Continuously Updating</span>
        }
        else
        {
            <span>New Events: @_eventLogState.NewEventBuffer.Count</span>

            @if (_eventLogState.NewEventBufferIsFull)
            {
                <span>Buffer Full</span>
            }
        }
    }

    @if (!string.IsNullOrEmpty(_statusBarState.ResolverStatus))
    {
        <span>@_statusBarState.ResolverStatus</span>
    }
</div>
