@using EventLogExpert.UI.Store.EventLog
@using EventLogExpert.UI.Store.EventTable
@using EventLogExpert.UI.Store.FilterPane
@using EventLogExpert.UI.Store.StatusBar
@using EventLogExpert.UI
@inherits FluxorComponent

@inject IState<EventLogState> EventLogState
@inject IState<EventTableState> EventTableState
@inject IState<FilterPaneState> FilterPaneState
@inject IState<StatusBarState> StatusBarState

<div class="status-bar">
    @foreach (var loadingProgress in EventLogState.Value.EventsLoading)
    {
        <span>Loading: @loadingProgress.Value</span>
    }

    <span>Events Loaded: @EventLogState.Value.ActiveLogs.Values.Sum(log => log.Events.Count)</span>

    @if (FilterMethods.IsFilteringEnabled(EventLogState.Value.AppliedFilter))
    {
        var totalEvents = EventTableState.Value.ActiveTable.IsCombined ?
            EventLogState.Value.ActiveLogs.Sum(l => l.Value.Events.Count) :
            EventLogState.Value.ActiveLogs[EventTableState.Value.ActiveTable.LogName].Events.Count;

        var filteredEvents = EventTableState.Value.ActiveTable.DisplayedEvents.Count;

        <span>Visible: @(filteredEvents) Hidden by filter: @(totalEvents - filteredEvents)</span>
    }

    @if (EventLogState.Value.ActiveLogs.Values.Any(l => l.Type == LogType.Live))
    {
        @if (EventLogState.Value.ContinuouslyUpdate)
        {
            <span>Continuously Updating</span>
        }
        else
        {
            <span>New Events: @EventLogState.Value.NewEventBuffer.Count</span>

            @if (EventLogState.Value.NewEventBufferIsFull)
            {
                <span>Buffer Full</span>
            }
        }
    }

    @if (!string.IsNullOrEmpty(StatusBarState.Value.ResolverStatus))
    {
        <span>@StatusBarState.Value.ResolverStatus</span>
    }
</div>
