@if (!string.IsNullOrEmpty(OuterCssClass))
{
    <div class="@OuterCssClass">
        @RenderRowContent()

        @if (UseInlineErrorRow)
        {
            <div class="error-row" hidden="@(string.IsNullOrWhiteSpace(ErrorMessage))">@ErrorMessage</div>
        }
    </div>
}
else
{
    @RenderRowContent()
}

@if (!UseInlineErrorRow)
{
    <div hidden="@(string.IsNullOrWhiteSpace(ErrorMessage))">
        <span class="advanced-filter-error">@ErrorMessage</span>
    </div>
}

@code {
    private RenderFragment RenderRowContent() =>
        @<div class="flex-space-between">
            <div class="flex-align-center">
                @if (Filter is not null)
                {
                    if (!Filter.IsExcluded)
                    {
                        <ValueSelect AriaLabel="Highlight Color"
                            @bind-Value="Filter.Color"
                            CssClass="input color-dropdown"
                            DataHighlight="@Filter.Color.ToCssName()"
                            T="HighlightColor">
                            @foreach (var item in Enum.GetValues<HighlightColor>())
                            {
                                <ValueSelectItem CssClass="color-dropdown-item"
                                    DataHighlight="@item.ToCssName()"
                                    T="HighlightColor"
                                    Value="item" />
                            }
                        </ValueSelect>
                    }

                    @EditingContent
                }
                else if (Value is { } savedFilter)
                {
                    if (string.IsNullOrWhiteSpace(savedFilter.ComparisonText))
                    {
                        <span id="@_filterLabelId">No Filter Specified</span>
                    }
                    else
                    {
                        if (savedFilter.Color != HighlightColor.None)
                        {
                            <div class="color-box mx-2" data-highlight="@savedFilter.Color.ToCssName()"></div>
                        }

                        if (savedFilter.IsExcluded)
                        {
                            <span id="@_filterLabelId">Exclude: @savedFilter.ComparisonText</span>
                        }
                        else
                        {
                            <span id="@_filterLabelId">@savedFilter.ComparisonText</span>
                        }
                    }
                }
            </div>

            <div class="@RightCssClass">
                @if (Filter is not null)
                {
                    @ExtraEditingButtons

                    <button class="button button-green" @onclick="OnSave" type="button">
                        <i class="bi bi-check-circle"></i> Save
                    </button>

                    <button class="button button-red fixed-width" @onclick="OnCancel" type="button">
                        <i class="bi bi-x-circle"></i> Cancel
                    </button>

                    @if (!IsPending)
                    {
                        <button class="button button-red fixed-width" @onclick="OnRemove" type="button">
                            <i class="bi bi-dash-circle"></i> Remove
                        </button>
                    }
                }
                else if (Value is { } savedFilter)
                {
                    <button class="button" @onclick="OnEdit" type="button">
                        <i class="bi bi-funnel"></i> Edit
                    </button>

                    @if (savedFilter.IsExcluded)
                    {
                        <button class="button fixed-width" @onclick="OnToggleExclusion" type="button">
                            <i class="bi bi-plus-circle"></i> Include
                        </button>
                    }
                    else
                    {
                        <button class="button fixed-width" @onclick="OnToggleExclusion" type="button">
                            <i class="bi bi-dash-circle"></i> Exclude
                        </button>
                    }

                    <button class="button button-red fixed-width" @onclick="OnRemove" type="button">
                        <i class="bi bi-dash-circle"></i> Remove
                    </button>

                    @if (ShowToggleEnabled)
                    {
                        <Toggle AriaLabel="Filter enabled"
                            AriaLabelledBy="@_filterLabelId"
                            Value="savedFilter.IsEnabled"
                            ValueChanged="@(_ => OnToggleEnabled.InvokeAsync())" />
                    }
                }
            </div>
        </div>;
}
