@inherits FluxorComponent

<div class="log-tab-bar" hidden="@(LogTableState.Value.EventTables.Count <= 1)">
    <div class="tab-row">
        @foreach (var table in _sortedTabs)
        {
            <div class="@GetActiveTab(table)" title="@GetTabTooltip(table)">
                <span role="button" tabindex="@(table.IsLoading ? -1 : 0)" aria-disabled="@table.IsLoading" @onmousedown="() => SetActiveLog(table)" @onkeydown="(e) => OnTabKeyDown(e, table)">
                    @if (table.IsLoading)
                    {
                        <i aria-label="Loading" class="spinner-border" role="status"></i>
                        @:&nbsp;
                    }
                    @GetTabName(table)
                </span>

                @if (!table.IsCombined)
                {
                    <i class="bi bi-x" @onmousedown="() => CloseLog(table)"></i>
                }
            </div>
        }
    </div>
</div>
