@typeparam T
@inherits InputComponent<T>

<div class="dropdown-input" @onkeydown="HandleKeyDown" @ref="_selectComponent">
    <input aria-activedescendant="@HighlightedItem?.ItemId"
        aria-controls="@_itemId"
        aria-describedby="@AriaDescribedBy"
        aria-expanded="@(_isOpen ? "true" : "false")"
        aria-haspopup="listbox"
        aria-invalid="@AriaInvalid"
        aria-label="@EffectiveAriaLabel"
        aria-labelledby="@AriaLabelledBy"
        class="@CssClass"
        data-highlight="@DataHighlight"
        disabled="@Disabled"
        id="@Id"
        @onblur="OnInputBlur"
        @onfocus="OnInputFocus"
        @oninput="OnInputChange"
        readonly="@(!IsInput || IsMultiSelect)"
        role="combobox"
        tabindex="0"
        type="text"
        value="@DisplayString" />

    <div aria-multiselectable="@(IsMultiSelect ? "true" : null)" class="dropdown-list" id="@_itemId" role="listbox" tabindex="-1">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
