@using EventLogExpert.Eventing.Common.Channels
@inherits FluxorComponent

<div aria-atomic="true" aria-live="polite" class="status-bar" role="status">
    @foreach (var loadingProgress in _statusBarState.EventsLoading)
    {
        <span>Loading: @loadingProgress.Value.Item1</span>

        @if (loadingProgress.Value.Item2 > 0)
        {
            <span>Failed: @loadingProgress.Value.Item2</span>
        }
    }

    <span>Events Loaded: @_eventLogState.ActiveLogs.Values.Sum(log => log.Events.Count)</span>

    @if (_logTableState.ActiveEventLogId is not null && FilterMethods.IsFilteringEnabled(_eventLogState.AppliedFilter))
    {
        var activeTable = _logTableState.EventTables.FirstOrDefault(table => table.Id == _logTableState.ActiveEventLogId);

        if (activeTable is null) { return; }

        var totalEvents = activeTable.IsCombined ?
            _eventLogState.ActiveLogs.Sum(l => l.Value.Events.Count) :
            _eventLogState.ActiveLogs.TryGetValue(activeTable.LogName, out var activeLogData)
                ? activeLogData.Events.Count
                : 0;

        var filteredEvents = activeTable.IsCombined ?
            _logTableState.DisplayedEvents.Count :
            _logTableState.EventCountByLog.GetValueOrDefault(activeTable.Id, 0);

        <span>Visible: @(filteredEvents) Hidden by filter: @(totalEvents - filteredEvents)</span>
    }

    @if (_eventLogState.ActiveLogs.Values.Any(l => l.Type == LogPathType.Channel))
    {
        @if (_eventLogState.ContinuouslyUpdate)
        {
            <span>Continuously Updating</span>
        }
        else
        {
            <span>New Events: @_eventLogState.NewEventBuffer.Count</span>

            @if (_eventLogState.NewEventBufferIsFull)
            {
                <span>Buffer Full</span>
            }
        }
    }

    @if (!string.IsNullOrEmpty(_statusBarState.ResolverStatus))
    {
        <span>@_statusBarState.ResolverStatus</span>
    }
</div>
