@using EventLogExpert.UI
@using EventLogExpert.UI.Store.FilterPane

<div class="flex-space-between">
    <div class="flex-align-center">
        @if (Value.IsEditing)
        {
            @if (!Value.IsExcluded)
            {
                <ValueSelect CssClass="@($"input color-dropdown {Value.Color.ToString().ToLower()}")"
                    T="HighlightColor" @bind-Value="Value.Color">
                    @foreach (HighlightColor item in Enum.GetValues(typeof(HighlightColor)))
                    {
                        <ValueSelectItem CssClass="@($"color-dropdown-item {item.ToString().ToLower()}")" T="HighlightColor" Value="item" />
                    }
                </ValueSelect>
            }

            <span>
                @if (Value.IsExcluded)
                {
                    <label for="@Id">Exclude Expression: </label>
                }
                else
                {
                    <label for="@Id">Expression: </label>
                }
                <input class="input advanced-filter" @oninput="OnInputChanged" id="@Id"
                    placeholder="(Id == 1000 || Id == 1001) && Description.Contains('Fault')"
                    type="text" value="@Value.Comparison.Value" />
            </span>
        }
        else if (string.IsNullOrWhiteSpace(Value.Comparison.Value))
        {
            <span>No Filter Specified</span>
        }
        else
        {
            @if (Value.Color != HighlightColor.None)
            {
                <div class="mx-2 @($"color-box {Value.Color.ToString().ToLower()}")"></div>
            }

            @if (Value.IsExcluded)
            {
                <span>Exclude: @Value.Comparison.Value</span>
            }
            else
            {
                <span>@Value.Comparison.Value</span>
            }
        }
    </div>

    <div>
        @if (Value.IsEditing)
        {
            <button class="button button-green" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsExcluded)
            {
                <button class="button fixed-width" @onclick="ToggleFilterExclusion">
                    <i class="bi bi-plus-circle"></i> Include
                </button>
            }
            else
            {
                <button class="button fixed-width" @onclick="ToggleFilterExclusion">
                    <i class="bi bi-dash-circle"></i> Exclude
                </button>
            }

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button button-red fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button button-green fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
    </div>
</div>

<div hidden="@(string.IsNullOrWhiteSpace(_errorMessage))">
    <span class="advanced-filter-error">@_errorMessage</span>
</div>
