@using EventLogExpert.Shared.Base
@inherits EditableFilterRowBase

<FilterRowChrome ErrorMessage="@ErrorMessage"
    Filter="Filter"
    IsPending="IsPending"
    OnCancel="CancelFilter"
    OnEdit="EditFilter"
    OnRemove="RemoveFilter"
    OnSave="SaveFilter"
    OnToggleExclusion="ToggleFilterExclusion"
    OuterCssClass="filter-group-row"
    ShowToggleEnabled="false"
    UseInlineErrorRow="true"
    Value="Value">
    <EditingContent>
        @if (Filter is { } filter)
        {
            <span>
                @if (filter.IsExcluded)
                {
                    <label for="@Id">Exclude Expression: </label>
                }
                else
                {
                    <label for="@Id">Expression: </label>
                }
                <input class="input advanced-filter" id="@Id" @oninput="OnInputChanged"
                    placeholder="(Id == 1000 || Id == 1001) && Description.Contains('Fault')"
                    type="text" value="@filter.ComparisonText" />
            </span>
        }
    </EditingContent>
</FilterRowChrome>
