@using EventLogExpert.UI

<div class="flex-space-between">
    <div class="flex-align-center">
        @if (Value.IsEditing)
        {
            if (!Value.IsExcluded)
            {
                <ValueSelect AriaLabel="Highlight Color" CssClass="@($"input color-dropdown {Value.Color.ToString().ToLower()}")" T="HighlightColor" @bind-Value="Value.Color">
                    @foreach (HighlightColor item in Enum.GetValues(typeof(HighlightColor)))
                    {
                        <ValueSelectItem CssClass="@($"color-dropdown-item {item.ToString().ToLower()}")" T="HighlightColor" Value="item" />
                    }
                </ValueSelect>
            }

            if (Value.IsExcluded)
            {
                <label aria-label="Exclude On" id="@($"{Id}_IsExcluded")">Exclude On: </label>
            }
            else
            {
                <label aria-label="Filter On" id="@($"{Id}_IsExcluded")">Filter On: </label>
            }
            <ValueSelect AriaLabelledBy="@($"{Id}_IsExcluded")" CssClass="input filter-dropdown" T="FilterCategory" @bind-Value="Value.Data.Category" ToStringFunc="x => x.ToFullString()">
                @foreach (FilterCategory item in Enum.GetValues(typeof(FilterCategory)))
                {
                    if (item == FilterCategory.Xml && !FilterService.IsXmlEnabled) { continue; }

                    <ValueSelectItem T="FilterCategory" Value="item" />
                }
            </ValueSelect>

            <label aria-label="Comparison" id="@($"{Id}_Comparison")">Comparison: </label>
            <ValueSelect AriaLabelledBy="@($"{Id}_Comparison")" CssClass="input filter-dropdown" T="FilterEvaluator" @bind-Value="Value.Data.Evaluator" ToStringFunc="x => x.ToFullString()">
                @foreach (FilterEvaluator item in Enum.GetValues(typeof(FilterEvaluator)))
                {
                    <ValueSelectItem T="FilterEvaluator" Value="item" />
                }
            </ValueSelect>

            <label aria-label="Value" id="@($"{Id}_Value")">Value: </label>
            <div>
                @if (Value.Data.Category is FilterCategory.Description)
                {
                    <TextInput CssClass="input filter-description" @bind-Value="@Value.Data.Value" />
                }
                else if (Value.Data.Evaluator == FilterEvaluator.MultiSelect)
                {
                    <ValueSelect AriaLabelledBy="@($"{Id}_Value")" CssClass="input filter-multiselect-dropdown" T="string" @bind-Values="Value.Data.Values" IsMultiSelect
                        ToStringFunc="@(x => string.IsNullOrWhiteSpace(x) ? "All" : x)">
                        <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
                        @foreach (var item in Items)
                        {
                            <ValueSelectItem T="string" Value="item" />
                        }
                    </ValueSelect>
                }
                else
                {
                    <ValueSelect AriaLabelledBy="@($"{Id}_Value")" CssClass="input filter-value-dropdown" T="string" @bind-Value="Value.Data.Value" IsInput>
                    <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
                        @foreach (var item in FilteredItems)
                        {
                            <ValueSelectItem T="string" Value="item" />
                        }
                    </ValueSelect>
                }
            </div>
        }
        else if (string.IsNullOrWhiteSpace(Value.Comparison.Value))
        {
            <span>No Filter Specified</span>
        }
        else
        {
            @if (Value.Color != HighlightColor.None)
            {
                <div class="mx-2 @($"color-box {Value.Color.ToString().ToLower()}")"></div>
            }

            @if (Value.IsExcluded)
            {
                <span>Exclude: @Value.Comparison.Value</span>
            }
            else
            {
                <span>@Value.Comparison.Value</span>                
            }
        }
     </div>

    <div>
        @if (Value.IsEditing)
        {
            <button class="button" @onclick="AddSubFilter">
                <i class="bi bi-plus-circle"></i> Add Sub Filter
            </button>

            <button class="button button-green" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsExcluded)
            {
                <button class="button fixed-width" @onclick="ToggleFilterExclusion">
                    <i class="bi bi-plus-circle"></i> Include
                </button>
            }
            else
            {
                <button class="button fixed-width" @onclick="ToggleFilterExclusion">
                    <i class="bi bi-dash-circle"></i> Exclude
                </button>
            }

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button button-red fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button button-green fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
    </div>
</div>

@if (Value.SubFilters.Count > 0 && Value.IsEditing)
{
    <div class="flex-column">
        @foreach (var item in Value.SubFilters)
        {
            <SubFilterRow ParentId="Value.Id" Value="@item" />
        }
    </div>
}
