@using EventLogExpert.UI
@inherits Base.BaseFilterRow

<div class="flex-space-between">
    <div class="flex-align-center">
        @if (_filter is not null)
        {
            if (!_filter.IsExcluded)
            {
                <ValueSelect AriaLabel="Highlight Color" CssClass="input color-dropdown" DataHighlight="@(_filter.Color == HighlightColor.None ? null : _filter.Color.ToString().ToLowerInvariant())" T="HighlightColor" @bind-Value="_filter.Color">
                    @foreach (HighlightColor item in Enum.GetValues(typeof(HighlightColor)))
                    {
                        <ValueSelectItem CssClass="color-dropdown-item" DataHighlight="@(item == HighlightColor.None ? null : item.ToString().ToLowerInvariant())" T="HighlightColor" Value="item" />
                    }
                </ValueSelect>
            }

            if (_filter.IsExcluded)
            {
                <label aria-label="Exclude On" id="@($"{Id}_IsExcluded")">Exclude On: </label>
            }
            else
            {
                <label aria-label="Filter On" id="@($"{Id}_IsExcluded")">Filter On: </label>
            }
            <ValueSelect AriaLabelledBy="@($"{Id}_IsExcluded")" CssClass="input filter-dropdown" T="FilterCategory" @bind-Value="CategoryBinding" ToStringFunc="x => x.ToFullString()">
                @foreach (FilterCategory item in Enum.GetValues(typeof(FilterCategory)))
                {
                    <ValueSelectItem T="FilterCategory" Value="item" />
                }
            </ValueSelect>

            <label aria-label="Comparison" id="@($"{Id}_Comparison")">Comparison: </label>
            <ValueSelect AriaLabelledBy="@($"{Id}_Comparison")" CssClass="input filter-dropdown" T="FilterEvaluator" @bind-Value="_filter.Data.Evaluator" ToStringFunc="x => x.ToFullString()">
                @foreach (FilterEvaluator item in Enum.GetValues(typeof(FilterEvaluator)))
                {
                    @if (IsTextOnlyCategory(_filter.Data.Category) && item == FilterEvaluator.MultiSelect)
                    {
                        continue;
                    }
                    <ValueSelectItem T="FilterEvaluator" Value="item" />
                }
            </ValueSelect>

            <label aria-label="Value" id="@($"{Id}_Value")">Value: </label>
            <div>
                @if (IsTextOnlyCategory(_filter.Data.Category))
                {
                    <TextInput CssClass="input filter-description" @bind-Value="@_filter.Data.Value" />
                }
                else if (_filter.Data.Evaluator == FilterEvaluator.MultiSelect)
                {
                    <ValueSelect AriaLabelledBy="@($"{Id}_Value")" CssClass="input filter-multiselect-dropdown" T="string" @bind-Values="_filter.Data.Values" IsMultiSelect
                        ToStringFunc="@(x => string.IsNullOrWhiteSpace(x) ? "All" : x)">
                        <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
                        @foreach (var item in Items)
                        {
                            <ValueSelectItem T="string" Value="item" />
                        }
                    </ValueSelect>
                }
                else
                {
                    <ValueSelect AriaLabelledBy="@($"{Id}_Value")" CssClass="input filter-value-dropdown" T="string" @bind-Value="_filter.Data.Value" IsInput>
                    <ValueSelectItem T="string" ClearItem>All</ValueSelectItem>
                        @foreach (var item in FilteredItems)
                        {
                            <ValueSelectItem T="string" Value="item" />
                        }
                    </ValueSelect>
                }
            </div>
        }
        else if (string.IsNullOrWhiteSpace(Value.Comparison.Value))
        {
            <span>No Filter Specified</span>
        }
        else
        {
            @if (Value.Color != HighlightColor.None)
            {
                <div class="mx-2 color-box" data-highlight="@Value.Color.ToString().ToLowerInvariant()"></div>
            }

            @if (Value.IsExcluded)
            {
                <span>Exclude: @Value.Comparison.Value</span>
            }
            else
            {
                <span>@Value.Comparison.Value</span>                
            }
        }
     </div>

    <div>
        @if (_filter is not null)
        {
            <button class="button" @onclick="AddSubFilter">
                <i class="bi bi-plus-circle"></i> Add Sub Filter
            </button>

            <button class="button button-green" @onclick="SaveFilter">
                <i class="bi bi-check-circle"></i> Save
            </button>

            <button class="button" @onclick="CancelFilter">
                <i class="bi bi-x-circle"></i> Cancel
            </button>

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>
        }
        else
        {
            <button class="button" @onclick="EditFilter">
                <i class="bi bi-funnel"></i> Edit
            </button>

            @if (Value.IsExcluded)
            {
                <button class="button fixed-width" @onclick="ToggleFilterExclusion">
                    <i class="bi bi-plus-circle"></i> Include
                </button>
            }
            else
            {
                <button class="button fixed-width" @onclick="ToggleFilterExclusion">
                    <i class="bi bi-dash-circle"></i> Exclude
                </button>
            }

            <button class="button button-red fixed-width" @onclick="RemoveFilter">
                <i class="bi bi-dash-circle"></i> Remove
            </button>

            @if (Value.IsEnabled)
            {
                <button class="button button-red fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-dash-circle"></i> Disable
                </button>
            }
            else
            {
                <button class="button button-green fixed-width" @onclick="ToggleFilter">
                    <i class="bi bi-plus-circle"></i> Enable
                </button>
            }
        }
    </div>
</div>

@if (_filter is not null && _filter.SubFilters.Count > 0)
{
    <div class="flex-column">
        @foreach (var item in _filter.SubFilters)
        {
            <SubFilterRow @key="item.Id" Value="@item" OnRemove="RemoveSubFilter" />
        }
    </div>
}
