<ValueSelect AriaLabel="@(PropertyAriaLabelledBy is null ? "Property" : null)"
    AriaLabelledBy="@PropertyAriaLabelledBy"
    @bind-Value="PropertyBinding"
    CssClass="input filter-dropdown"
    T="EventProperty"
    ToStringFunc="x => x.ToFullString()">
    @foreach (var item in Enum.GetValues<EventProperty>().OrderBy(p => p.ToFullString(), StringComparer.CurrentCulture))
    {
        <ValueSelectItem T="EventProperty" Value="item" />
    }
</ValueSelect>

@if (IsEventDataProperty)
{
    <label class="visually-hidden" id="@($"{Id}_FieldName")">Field name</label>

    <ValueSelect AriaLabelledBy="@($"{Id}_FieldName")"
        CssClass="input filter-value-dropdown"
        IsInput
        T="string"
        Value="Comparison.EventDataFieldName"
        ValueChanged="HandleEventDataFieldNameChanged">
        @foreach (var name in EventDataFieldNames)
        {
            <ValueSelectItem T="string" Value="name" />
        }
    </ValueSelect>
}

@if (IsUserDataProperty)
{
    <label class="visually-hidden" id="@($"{Id}_UserDataFieldName")">Field name</label>

    <ValueSelect AriaLabelledBy="@($"{Id}_UserDataFieldName")"
        CssClass="input filter-value-dropdown"
        IsInput
        T="string"
        Value="Comparison.UserDataFieldName"
        ValueChanged="HandleUserDataFieldNameChanged">
        @foreach (var name in UserDataFieldNames)
        {
            <ValueSelectItem T="string" Value="name" />
        }
    </ValueSelect>
}

<label class="visually-hidden" id="@($"{Id}_Comparison")">Comparison</label>
<ComparisonOperatorSelect AriaLabelledBy="@($"{Id}_Comparison")"
    MatchMode="Comparison.MatchMode"
    OnChanged="HandleOperatorChanged"
    Operator="Comparison.Operator"
    SupportsMany="!IsTextOnlyProperty(Comparison.Property)"
    SupportsManyOperators="FilterPropertyConstraints.SupportsManyOperators(Comparison.Property)" />

<label class="visually-hidden" id="@($"{Id}_Value")">Value</label>
@if (IsTextOnlyProperty(Comparison.Property))
{
    <TextInput AriaLabelledBy="@($"{Id}_Value")"
        CssClass="input filter-description"
        Value="@Comparison.Value"
        ValueChanged="HandleValueChanged" />
}
else if (Comparison.MatchMode == MatchMode.Many)
{
    <ValueSelect AriaLabelledBy="@($"{Id}_Value")"
        CssClass="input filter-multiselect-dropdown"
        EmptyText="All"
        IsMultiSelect
        T="string"
        ToStringFunc="@(x => string.IsNullOrWhiteSpace(x) ? "All" : x)"
        Values="Comparison.Values"
        ValuesChanged="HandleValuesChanged">
        <ValueSelectItem ClearItem T="string">All</ValueSelectItem>
        @foreach (var item in Items)
        {
            <ValueSelectItem T="string" Value="item" />
        }
    </ValueSelect>
}
else
{
    <ValueSelect AriaLabelledBy="@($"{Id}_Value")"
        CssClass="input filter-value-dropdown"
        IsInput
        T="string"
        Value="Comparison.Value"
        ValueChanged="HandleValueChanged">
        <ValueSelectItem ClearItem T="string">All</ValueSelectItem>
        @foreach (var item in FilteredItems)
        {
            <ValueSelectItem T="string" Value="item" />
        }
    </ValueSelect>
}
